* {
    margin: 0;
    padding: 0;
    border-box: box-sizing;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title a {
    display: inline-block;
    margin: 0 5px;
}

.requests__item,
.camps__item {
    padding: 10px;
    border: 2px solid black;
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.requests__list,
.camps__list {
    display: none;
}

.requests__list:target,
.camps__list:target {
    display: block;
}
