* {
    margin: 0;
    padding: 0;
    border-box: box-sizing;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title a {
    display: inline-block;
    margin: 0 5px;
}

.requests__item,
.camps__item {
    padding: 10px;
    border: 2px solid black;
    list-style: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.requests__list,
#camps {
    display: none;
}

#camps:target {
    display: flex;
}

#camps > * {
    flex: 1;
    margin: 0 10px;
}

.requests__list:target {
    display: block;
}

ul {
    list-style: none;
}

.regions > *,
.camps > * {
    padding: 10px;
    border: 2px solid #000;
    margin: 10px 0;
}

.del-button {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 4px;
}

.del-button:hover {
    border: 2px solid red;
    color: red;
}

.regions__item,
.camp__item {
    padding: 10px;
    cursor: pointer;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
